@charset "utf-8";
/* CSS Document */

.cloud0
{
	position: absolute;
	padding-top: 42px;
	padding-left: 20px;
	overflow:auto;
	width: 200px;
	height: 200px;
}

.cloud0
{
	background: url(pics/cloud0.png) no-repeat;
}
.cloudContent
{
	float:left;
	overflow:hidden;
	padding: 3px;
	width: 154px;
	height: 114px;
}
