/* MENYBOX */
.meny_container {width: 174px; float: left; padding: 5px 5px 5px 5px; font: 11px Verdana, Helvetica, sans-serif; border: 2px dashed #FF0000; background: #FFFFFF; margin-right: 40px;}

/* MENY */
#meny { margin: 0 0 0 0; padding: 0; list-style-type: none;}
#meny ul { list-style-type: none; }
.menu_link{ display: block; text-decoration: none; height: 15px; margin: 0 0 3px 0;  padding: 5px 3px 3px 5px; background: #FFFFFF; border: 1px solid #99cc00;}
/* Meny länkar, egenskaper */
#meny a:link { color: #000000; }
#meny a:visited { color: #000000; }
#meny a:hover { background-color: #FF0000; color:#000000; }

#meny_container1 {width: 160px; float: left; margin: 0 0 0 0;  padding: 2px 2px 2px 2px;}

/*right meny*/
#top_meny_container {width: 160px; float: left; margin-bottom:5px; border-bottom: 2px dashed #EDF213; padding: 2px 2px 2px 2px;}
#top_meny { margin: 0 0 0 0; padding: 0; list-style-type: none; }
#top_meny ul { list-style-type: none; }
/*#top_meny a { display: block; text-decoration: none; height: 15px; margin: 0 0 3px 0;  padding: 5px 3px 3px 5px; background: #BCFF20; border: 1px solid #99cc00;}*/
/* Meny länkar, egenskaper */
#top_meny a:link { color: #000000; }
#top_meny a:visited { color: #000000; }
#top_meny a:hover { color: #000000; background:#EFFF64; }


.darkenBackground {
background-color: rgb(0, 0, 0);
opacity: 0.7; /* Safari, Opera */
-moz-opacity:0.70; /* FireFox */
filter: alpha(opacity=70); /* IE */
z-index: 20;
height: 100%;
width: 100%;
background-repeat:repeat;
position:fixed;
top: 0px;
left: 0px;
}
.highZ {
	z-index: 50;
	position: absolute;
	top: 70px;
	left:300px;
	width:180px;
	height: 150px;
}
.login{
background:url(pics/loginPrompt.png);
position: relative;
height: 150px;
width: 180px;
text-align:center;
}

#selected{
	display: block;
	text-decoration: none;
	height: 15px;
	margin: 0 0 0 0;
	padding: 5px 3px 3px 5px;
	background: #FFFFFF;
}

.selected_sub{
display: block; text-decoration: none; height: 15px; margin-top:3px;  padding: 5px 3px 3px 5px; background: #FFFFFF;
margin-left:20px;
}


#top_meny_online
{
position:absolute;
left: 20px;
top: 85px;
}
