 .msghead {
   padding: 5px 5px 5px 5px;
   font-size: 11px;
   background: GreenYellow;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-bottom: dotted 2px White;
}
.msgbody {
   padding: 5px 5px 5px 5px;
   font-size: 11px;
   background: Aquamarine;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.msg {
   width:300px;
   margin: 0 5px 5px 0;
   padding: 5px 5px 5px 5px;
   font-size: 11px;
   border: 1px solid #aacaaa;
   background:#FCF256;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}